html
    head
        title Approved Ideas
    
    body

        //- include ./header.pug

        include ./navbar.pug

        //- p #{JSON.stringify(data)}

        h1 Approved Ideas List

        if(data.length == 0)
            div No Approved Ideas

        for entry in data
            a(href="/approved-idea/" + entry.id).
                id: #{entry.id}
            br
            a(href="/approved-idea/" + entry.id).
                name: #{entry.name} 
            br
            a(href="/approved-idea/" + entry.id).
                email: #{entry.email} 
            br
            a(href="/approved-idea/" + entry.id).
                summary: #{entry.summary}
            br
            br



        include ./footer.pug