html
    head
        title Idea

        style.
            p, b{
                {display: inline}
            }
    
    body
        include ./header.pug

        include ./navbar.pug

        //- p #{JSON.stringify(data)}
        - data = data[0];

        p <b>Id:</b> #{data.id}
        p <b>Name: </b> #{data.name}
        p <b>Email:</b> 
            a(href="mailto:" + data.email) #{data.email}
        br
        br
        p <b>Basic idea:</b> #{data.summary}
        br
        p <b>Details:</b>
        p #{data.idea}
        br
        br
        p <b>Submission timestamp:</b> #{data.reg_date}



        include ./footer.pug