html
    head
        title Idea

        style.
            p, b{
                {display: inline}
            }
    
    body
        //- include ./header.pug

        include ./navbar.pug

        //- p #{JSON.stringify(data)}
        - data = data[0];

        p <b>Id:</b> #{data.id}
        p <b>Name: </b> #{data.name}
        p <b>Email:</b> 
            a(href="mailto:" + data.email) #{data.email}
        br
        br
        p <b>Basic idea:</b> #{data.summary}
        br
        p <b>Details:</b>
        p #{data.idea}
        br
        br
        
        button#reject Reject 
        br
        br

        if(authenticationStatus)
            textarea#comment(placeholdeer = "Comment" cols=50 rows=10)
            br
            button#send_comment Send Mail


        br
        br
        p <b>Submission timestamp:</b> #{data.reg_date}

        div#output 


        script(src = "/script/jquery.js")

        script.
            var data = !{JSON.stringify(data)};
            //- console.log(data);
        

            $("#reject").on("click", function() {

                var jso = {action: "reject"};

                $.ajax({
                    method: 'POST',
                    url: "/judge-idea/" + data.id,
                    data: jso,
                    success: (res)=>{
                        console.log(res);
                        if(res == "done"){
                            $("#output").text("Rejected!");
                            window.location.href = "/review-ideas"

                        }else{
                            $("#output").text("Error in server");

                        }    
                    }

                });
            });

            $("#send_comment").on("click", function() {

                $("#output").text("Please Wait while we send the mail....");


                $.ajax({

                    method: "POST",
                    url: "/send-comment",
                    data: {
                        email: data.email,
                        text: $("#comment").val()
                    },
                    success: (res)=>{
                        if(res == "success!"){
                            $("#output").text("Comment Sent!");
                        }else if(res=="error"){
                            $("#output").text("Internal Server Error!!");
                        }
                    }
                });

            })



        include ./footer.pug